body{
    background-image: linear-gradient(black,white);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: whitesmoke;
  
}

input{
    width: 50%;
    border-radius: 10vh;
    /* height: 8vh; */
padding: 0.75% 1%;
outline:none;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
border: solid 4px greenyellow;
/* background-color: black; */
/* color: white; */

}

button{
    width: 10%;
    border-radius: 10vh;
    /* height: 8vh; */
padding: 0.75% 1%;
/* outline:none; */
border: solid 4px greenyellow;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
cursor: pointer;
/* background-color: black; */
/* color: white; */
}

.Weather{
    margin: 10px auto 0;
    width: 30%;
    height: 60px;
    /* background-image: linear-gradient( greenyellow,rgb(42, 170, 142),cyan); */
    /* background-color: #ffffb5;
background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%); */
background-color: #ffffb5;
background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
    border-radius: 5vh;
    text-align: center;
    padding: 40px 35px;

   
}
.Weather2{
    margin: 15px auto 0;
    width: 30%;
    height:200px;
    /* background-image: linear-gradient( greenyellow,rgb(42, 170, 142),cyan); */
       background-color: #ffffb5;
background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
    border-radius: 5vh;
    text-align: center;
    padding: 40px 35px;

   
}
@keyframes blink {
    50%{
        opacity: 0;
        
    }    
    80%{
        opacity: 0.5;
    }
 
}
a {
    color: #b6005b;
    text-decoration: none;
}

a:hover {
    color:#b6dfe9; 
    text-decoration:none; 
    cursor:pointer;  
}
